@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Playfair+Display&family=Source+Serif+Pro:wght@300&display=swap');

html{
    background-color:  antiquewhite ;
    
}

body{
    font-family: 'Source Serif Pro', serif;
}


.is-size-2{
    font-weight:900;
}

.is-4{
    font-weight:600;
}



header  {
    font-family: 'Limelight', cursive; 
}

.titlesHeader {
    display: flex;
    margin-top: -5%;
    margin-left: -2%;
    }

h1, h2  {
        margin-left: 5%;
        margin-right: -9%;
}


h2 {
    color: rgba(231,182,136,1);  
}


.columns{
    margin-left: 3%;
    margin-right: 3%;
    
}

.title  {
    font-family: 'Playfair Display', serif; 
} 

.card-content {
  height: 310px;
} 

p.title.is-4  {
    color: black;
    font-size: 23px ;
}

.subtitle.is-6  {
    font-size: 18px;
    font-family: '';
    color: green;
}

.card:hover {
    transform: scale(1.04);
}

.linkTrailer{
    position: absolute;
    bottom: 2px;
}







