html{
    background-color: whitesmoke;
}

.position{
    display: flex;
    margin-bottom: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card{
    height: 100%;
}

.card-footer{
    position: absolute;
    bottom: 1px;
    left: 40%;
}

.content{
    text-align: justify
}

.fab:hover{
    color: lightseagreen;
    transition-duration: 1s;
}

.card:hover{
    color: darkblue;
    transition-duration: 1s;
}







